:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #011f4b;
    --color-light: #eaf7ff;
    --color-primary-variant: #03396c;
    --color-dark-variant: #005b96;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-info-light);
}

.feedback-input {
    color: var(--color-info-dark);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--color-info-dark);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: var(--color-primary);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: var(--color-primary);
}

.inquiry-form-container {
    margin-top: 3rem;
}

.inquiry-form-container form {
    margin-top: 2rem;
}

.inquiry-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inquiry-header-container h1 {
    font-size: 2rem;
    color: var(--color-primary);
}

.inquiry-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}